:host {
	display: flex;
	flex-direction: column;
	background: #444;
	flex: 0 0 auto;
	margin-bottom: 10px;

	.title {
		font-weight: bold;
		padding: 5px;
		background: #393939;
		color: #999;
	}

	.content {
		padding: 5px;
	}
}