:host {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 100%;

	.content {
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		flex: 1 1 100%;
	}

	.title {
		margin-top: -18px;
		margin-bottom: 5px;
	}
	.title-wrapper {
		background: #444;
		padding: 0 5px;
		cursor: pointer;
		color: #ccc;
	}
	.title-toggler {
		display: block;
		font-size: 10px;
		line-height: 10px;
		width: 15px;
		height: 15px;
		background: #444;
		border: 1px solid #555;
		color: #999;
		cursor: pointer;
		float: right;
		padding: 0 0 2px;
		border-radius: 2px;
		box-sizing: border-box;
	}

	.group {
		width: 100%;
		display: flex;
		flex-direction: column;
		border: 1px solid #555;
		padding: 10px 5px;
		border-radius: 3px;
		margin-top: 10px;
	}
	.group.collapsed {
		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom-width: 0;
		border-radius: 0;
		padding-bottom: 0;
		height: 0;
	}
}